html
    head
        title='Test'
    body
        ul
            h1='oi?'
            each pe in inputs
                li #{pe.type}
                li #{pe.reference}
                li #{pe.placeholder}
                li #{pe.order}
            if component !== undefined
                if component.variation === 'test' 
                    include variations/test.pug
                if component.variation === 'testando'
                    include variations/testando.pug
                if component.variation = 'menu'
                    include variations/menu/lateral/1.pug
                    include variations/menu/lateral/2.pug
                    include variations/menu/lateral/3.pug
                    include variations/menu/lateral/4.pug
